<h1>Sign Up</h1>
<form class="sign-up">
  <md-input-container>
    <input mdInput type="text"
           name="login"
           [(ngModel)]="signUpData.email"
           placeholder=" login" required>
  </md-input-container>

  <md-input-container>
    <input mdInput type="password"
           name="password"
           [(ngModel)]="signUpData.password"
           placeholder=" password" required>
  </md-input-container>

  <button md-button type="submit">Sign Up</button>
</form>

<button (click)="addNotify()">Add notify</button>
<my-notify for="signUp"></my-notify>

