main {
  width: 500px;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

router-outlet {
  width: 100%
}
nav {
  a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  a:visited, a:link {
    color: #607D8B;
  }
  a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  a.active {
    color: #039be5;
  }
}

.head {
  height: 180px;
  background-color: #039be5;
  h1 {
    color: white;
  }
}
.navi {
  height: 50px;
  background-color: lightgray;
  text-align: right;
  a {
    margin-right: 10px;
  }
}
.foot {
  margin-top: 150px;
  height: 50px;
  background-color: lightgray;
  color: whitesmoke;
  p {
    text-align: center;
  }
}
