<h1>Sign In</h1>
<form class="sign-in">
  <md-input-container>
    <input mdInput type="email"
           [(ngModel)]="signInData.email"
           name="email"
           placeholder=" email" required>
  </md-input-container>

  <md-input-container>
    <input mdInput type="password"
           [(ngModel)]="signInData.password"
           name="password"
           placeholder=" password" required>
  </md-input-container>

  <button md-button type="submit" (click)="signIn()">Sign in</button>
</form>
<nav>
  <a routerLink="/sign-up" routerLinkActive="active" (click)="signUp()">Sign up</a>
</nav>
<my-notify for="signIn"></my-notify>
